<html>

<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
	<nav>
	</nav>
	<main>
		<h1>Consultorea.me</h1>

		<section>
			<p>Para ver las consultoras ordenadas por la cantidad de empleados haga click <a href="/consultoras">acá</a></p>
		</section>

		<section>
        			<h2>Sobre nuestros clientes</h2>

        			<p>un bonito texto sobre nuestros clientes.</p>

                    <table style="width:100%">
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad de Empleados</th>
                      </tr>
                    {{#consultoras}}
                      <tr>
                        <td>{{nombre}}</td>
                        <td>{{cantidadEmpleados}}</td>
                      </tr>
                    {{/consultoras}}
                    </table>
        		</section>
	</main>
	<footer>
		Copyright {{anio}} Consultorea.me
	</footer>
</body>

</html>
